---

- name: Install systemd_timesyncd tasks
  become: true
  tags:
    - systemd_timesyncd_install
    - systemd_timesyncd
  block:
    - name: Install systemd_timesyncd package
      ansible.builtin.package:
        name: "{{ systemd_timesyncd_package_name }}"
        state: "{{ systemd_timesyncd_package_ensure }}"
