# {{ ansible_managed }}

[Time]
{% if systemd_timesyncd_config_options is defined and systemd_timesyncd_config_options %}
{%   for key, value in systemd_timesyncd_config_options.items() %}
{%     if key == 'NTP' or key == 'FallbackNTP' %}
{%       if value is sequence %}
{{ key }}={{ value | join(' ') }}
{%       elif not value %}
{{ key }}=
{%       else %}
{{ key }}={{ value | string | lower in ['true', 'yes'] | ternary('yes', 'no') }}
{%       endif %}
{%     else %}
{%       if not value %}
{{ key }}=
{%       else %}
{{ key }}={{ value | string | lower in ['true', 'yes'] | ternary('yes', 'no') }}
{%       endif %}
{%     endif %}
{%   endfor %}
{% endif %}
