# {{ ansible_managed }}

[Time]
{% for key, value in item.content.items() %}
{%   if key == 'NTP' or key == 'FallbackNTP' %}
{%     if value is iterable %}
{{ key }}={{ value | join(' ') }}
{%     elif not value %}
{{ key }}=
{%     else %}
{{ key }}={{ value | string | lower in ['true', 'yes'] | ternary('yes', 'no') }}
{%     endif %}
{%   else %}
{%     if not value %}
{{ key }}=
{%     else %}
{{ key }}={{ (value | string | lower in ['true' ]) | ternary('yes', 'no') }}
{%     endif %}
{%   endif %}
{% endfor %}
